# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build settings
.conan
.venv
.toolchain-fakebin
.cache
.vscode
CMakeUserPresets.json
build
**/version.cpp
**/test_version.cpp
compile_commands.json

dragoon_flight/target